.benefits_container{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 1rem 1.8rem;
    align-items: flex-start;
    width: 60%;
    
}
.aritcle_benefits img{
    width: 3rem;
    height: auto;
}

.tittle_benefits{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;   
    font-size: 1.4rem;
    color: #4b0055;
     text-align: left; 
    margin-top: 1rem; 
    margin-bottom: 0.5rem;
}

.description_benefits{
    color: #bd83c4;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
   
}

.reserva_btn{
    background-color: #521B58;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 3rem;
    text-align: center;
    width: 50%;
    
}

@media  (width > 768px){
    .benefits_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    list-style: none;
    padding: 0;
    margin-right:15% ;
    margin-left: 4rem;
}

}

@media (width > 1280px){
    .benefits_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    list-style: none;
    padding: 0;
    margin-right:15% ;
}
}