.instruments-container_landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /*  padding: 0 0.5rem; */
    width: 100%;
}

.tittle-instruments_landing{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;   
    font-size: 1.6rem;
    color: #4b0055;
    font-weight: bolder;
    text-align: center; 
    margin-top: 1rem; 
    margin-bottom: 2rem;
    width: 380px;
}

.instruments-list_landing{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    
}

.instruments-list_landing li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:5px;    
}

.icon-instrument_landing img{
    width: 2.5rem;
    height: auto;
    margin-right: 0;
}

.subject-instrument_landing{
    color: #521B58;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.teachers-instruments_landing{
    color: #bd83c4;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.ver-mas_landing{
    background-color: #521B58;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 200px;
}

@media  (width > 768px){
    .instruments-list_landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    list-style: none;
    padding: 0;
    }
}

@media (width > 1280px){
    .instruments-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    list-style: none;
    padding: 0;
    }
}