.form_contact_teacher{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family:"Arsenal SC", sans-serif;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 10%;
    min-height: 100vh;
    
}

.photo_teacher_contact_teacher{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.other_titles_contact_teacher{
    font-size: bolder;
    font-weight: 600;
    margin-bottom: 20px;
    color: #521B58;
    margin-top: 10px;
}

.text_contact_teacher{
    font-family:"Arsenal SC", sans-serif;
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
}

.button_form_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  position: relative;
}

.button_sticky_container {
  position: relative;
  height: auto;
  margin-bottom: 10px;
}

.return_btn_contact_teacher{
    background-color: #521B58;
    color: white;
    text-decoration: none;
    padding: 8px;
    width: 150px;
    height: 26px;
    border-radius: 5px;
    text-align: center;
    position: sticky;
    right:30px;
    font-family:"Arsenal SC", sans-serif;
    float: right;
    z-index: 10;
}

.submit_btn_contact_teacher {
  background-color: #521B58;
  color: white;
  font-family: "Arsenal SC", sans-serif;
  font-size: 1rem;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  
}